<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RelayInboundTaskCollectionBatchSize" value="1" />
        <add key="RelayInboundTaskCollectionBatchDelayMs" value="500" />
        <add key="RelayIssueReceipts" value="true" />
        <add key="RelayEnableDebugLogging" value="false" />
        <add key="TransportMessageFrameCount" value="4" />
        <add key="DriveServiceUpdateFrequency" value="500" />
    </appSettings>
    <connectionStrings>
        <add name="ServiceBusClientSocket" connectionString="tcp://localhost:5556" />
        <add name="ServiceBusServerSocket" connectionString="@tcp://localhost:5556" />
        <add name="SubscribeEventSocket" connectionString="tcp://localhost:5558" />
        <add name="PushEventSocket" connectionString="tcp://localhost:5557" />
    </connectionStrings>
</configuration>
