<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RelayInboundTaskCollectionBatchSize" value="1" />
        <add key="RelayInboundTaskCollectionBatchDelayMs" value="500" />
        <add key="RelayIssueReceipts" value="true" />
        <add key="RelayEnableDebugLogging" value="true"/>
    </appSettings>
    <connectionStrings>
        <add name="TaskBusClientSocket" connectionString="tcp://localhost:5556" />
        <add name="TaskBusRelaySocket" connectionString="@tcp://localhost:5556" />
        <add name="TaskEventSocket" connectionString="tcp://localhost:5558" />
        <add name="ReceiptEventSocket" connectionString="tcp://localhost:5557" />
    </connectionStrings>
</configuration>