<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RelayInboundTaskCollectionBatchSize" value="1" />
        <add key="RelayInboundTaskCollectionBatchDelayMs" value="500" />
        <add key="RelayIssueReceipts" value="true" />
        <add key="RelayEnableDebugLogging" value="false" />
        <add key="TransportMessageFrameCount" value="4" />
        <add key="DriveServiceUpdateFrequency" value="500" />
    </appSettings>
    <connectionStrings>
        <add name="TransportRelayClientSocket" connectionString="tcp://localhost:5556" />
        <add name="TransportRelayServerSocket" connectionString="@tcp://localhost:5556" />
        <add name="EventSocket" connectionString="tcp://localhost:5558" />
        <add name="EventReceiptSocket" connectionString="tcp://localhost:5557" />
        <add name="EventLogSocket" connectionString="tcp://localhost:5559" />
    </connectionStrings>
</configuration>
